body, html {
    height: 100%;
    margin: 0;
    font-family: 'Muli', sans-serif;
    color: white;
    font-size: 16px;

  }

  .parallax1 { 
 
    background-image: url(./images/movieprojector.jpg);
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 { 
  
     background-image: url(./images/shawshank.jpg);
     height: 500px; 
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }
 
 .parallax3 { 
  
     background-image: url(./images/ring2.jpg);
     height: 500px; 
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }

 .parallax4 { 
  
     background-image: url(./images/lavita2.png);
     height: 500px; 
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }
 
 .parallax5 { 
     background-image: url(./images/forrest3.jpg);
     min-height: 500px;
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }
 .parallax6 { 
  background-image: url(./images/truman2.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  .bloktekst {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    color:white;
  }
  .quote {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: right;
    color:#FFFFFF;
    font-style: italic;
    font-family: 'Radley', serif;
    font-size: 2em;
  }
  
  .quotetekst1 {
    color: white;
  }

  .icons {
    position: absolute;
    top: 2%;
    width: 100%;
    text-align: right;
    padding-right: 40px; 
    font-size: 2em; 
  }

  .bloktekst span.filmtitel {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    padding: 18px;
    font-size: 2em;
    letter-spacing: 6px;
    box-shadow:3px 3px 20px #2E2D2D;
    border: 0.5px solid white;
    border-radius: 2px;
  }


.introductie {
    position: absolute;
    top: 30%;
  }


  h3 {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 25px;
    color: white;
    text-align: center;
    padding-bottom: 10px;
  }

.text {
    color: white;
    background-color: #0F0F0F;
    text-align: center;
    padding: 50px 80px;
}

.container-fluid {
  background-color:  #0F0F0F;
}

.intro {
    font-size: 50px;
    color: white;
    opacity: 0.2;
}
relative {
  position: relative;
}
.button {
  position: absolute;
  bottom: 12%;
  left: 70%;
}

/*
emphasize {
    font-size: 60px;
    text-emphasis: none;
}
*/
.button {
  position: absolute;
  float: right;
  border-radius: 2px;
  border: 0.5px solid white;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 1em;
  color: white;
  box-shadow: 3px 3px 18px #2E2D2D;
}


.button:hover {
  background-color: white;
  color: black;
}


.achtergrond {
  text-align: left;
  color: #FFFFFF;

}


.logo {
max-width: 80px;
float: right;
padding: 20px 0px 10px;
}

#name {
  padding: 20px 0px 10px 15px;
  color: white;
}

.directors, .stars, .date  {
  max-width: 20px;
  margin-right: 10px;
}

.directors {
  max-width: 15px;
}

.imgklein {
  max-width: 50px;
}

.shawshank {
  background-color: #54312b;
}

.ring {
  background-color: #6E5E38;
}

.vita {
  background-color: #667171;
}

.forrest {
  background-color: #593c2c;
  background-color: #67544A;
}

.truman {
  background-color: #556c8b;
}

.footer {
  background-color: #363636;
}

.container-fluid {
  position: relative;
}

.voorgrondnummer {
  font-size: 12em;
  position: absolute;
  bottom: 50%;
  width: 100%;
  margin-left: 8%;
  font-family: 'Josefin Slab', serif;
  font-family: 'Kameron', serif;
  text-shadow: 2px 2px 20px #2E2D2D;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
.voorgrondnummer {
  font-size: 5em;
  bottom: 80%;
}

.button {
  font-size: 0.8em;
  bottom: 5%;
  left: 100%;
  width: 100%;
  padding-left: 40px;
}
     
.fade-out {
  max-height: 120px;
  position: relative;
  overflow: hidden;
}
.fade-out .read-more {
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  text-align: center; 
  margin: 0; 
  padding: 10px 0;
} 

.shawshankcolor {
  background-image: linear-gradient(to bottom, transparent,#54312b);
}

.ringcolor {
  background-image: linear-gradient(to bottom, transparent,#6E5E38);
}

.vitacolor {
  background-image: linear-gradient(to bottom, transparent,#667171);
}

.forrestcolor {
  background-image: linear-gradient(to bottom, transparent,#67544A);
}

.trumancolor {
  background-image: linear-gradient(to bottom, transparent,#556c8b);
}



.fade-out {
  margin-bottom: 30px;
}
.read-more {
  top: 57%;
}
.more {
color: #BDBCBC;
font-size: 1em;
background-color: rgba(20, 20, 20, 0.7);
padding: 5px 10px;
}

.more:hover {
  color: black;
  background: white;
  text-decoration: none;
}


}

@media only screen and (min-width: 768px) {

.more {
 display: none;
}
}
  /* For desktop*/




/*font-family: 'Amatic SC', cursive;
font-family: 'Bad Script', cursive;
font-family: 'Caveat', cursive;
font-family: 'Josefin Slab', serif;
font-family: 'Mali', cursive;
font-family: 'Neucha', cursive;
font-family: 'Shadows Into Light Two', cursive;
font-family: 'Marcellus', serif;
font-family: 'Kameron', serif;
font-family: 'Radley', serif;
font-family: 'Quando', serif;*/